*{
    margin: 0;
    padding: 0;
    font-family: 'Poopins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(135deg, #02334f, #145277);
    color: #fff;
    padding: 10px;
}

.calculator{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}

.calculator h1{
    font-size: 60px;
    color: #ffff00;
}

.input-box{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgba(70, 151, 197, 0.3);
    display: flex;
    align-items: center;
}

.input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}

.input-box button{
    background: #ffff00;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
}

.input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}

#result{
    font-size: 20px;
}

#result span{
    color: #ffff00;
}

/* For Mobile */

@media only screen and (max-width: 800px){
    .container {
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        height: 100%;
    }

    .calculator{
        width: 100%;
        max-width: 600px;
        margin-left: 0%;
        margin-top: 0%;
        align-content:space-around;
    }

    .calculator h1{
        font-size: 40px;
    }

    .input-box{
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .input-box input{
        padding: 14px 20px;
        position: relative;
    }

    .input-box button{
        padding: 10px 25px;
        font-weight: 700;
    }

    .input-box input::-webkit-calendar-picker-indicator{
        align-content: space-between;
    }
}